# Basic ESPHome Configuration
esphome:
  name: autoslide-door-controller
  friendly_name: Autoslide Door

# Enable logging for debugging
logger:
  level: INFO

# ESP32 Configuration
esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Custom Component Definition
# Points ESPHome to your local custom_components folder
external_components:
  - source:
      type: local
      path: custom_components
    components: [ autoslide_door ]

uart:
  id: autoslide_uart
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600

autoslide_door:
  id: autoslide
  uart_id: autoslide_uart

  mode_select:
    name: "Door Mode"

  open_speed_switch:
    name: "Open Speed Slow"

  secure_pet_switch:
    name: "Secure Pet Mode"

  open_hold_duration:
    name: "Open Hold Duration"
    unit_of_measurement: "s"

  open_force:
    name: "Open Force"

  close_force:
    name: "Close Force"

  close_end_force:
    name: "Close End Force"

  open_button:
    name: "Open Door"

  motion_state:
    name: "Door Motion State"

  lock_state:
    name: "Door Lock State"

  busy:
    name: "Door Busy"
    device_class: running

  connected:
    name: "Door Connected"
    device_class: connectivity
